{# Block for displaying available actions for a submissions #}
{# Variables : submission #}

{% if submission is defined %}

    {# Cancel submission#}

    {% if submission.step != "VALIDATE" %}
    <div class="integration-cancel-status hidden" data-target="{{ submission.id }}">Status:{{ submission.status }};Step:{{ submission.step }}</div>
    <div class="delete-submission-jdd" data-jdd-id="{{ jdd.id }}">
        <div class="delete-submission">
            <a id="integration-cancel-link-{{ submission.id }}" href="{{ path('integration_cancel', {'submissionId': submission.id}) }}" title="{{ 'Cancel Submission'|trans }}"
               onClick="return confirm('{{ 'Are you sure?'|trans }}');" data-target="{{ submission.id }}" >
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            </a>
        </div>
    </div>
    {% endif %}
{% endif %}