{# Block for displaying available actions for a submissions #}
{# Variables : submission #}

{% if submission is defined %}

    {# Cancel submission#}
    {% set remove = false %}
    {% if submission.step != "VALIDATE" %}
        {% set remove = true %}
    {% endif %}
    <div class = "btn-group">
    <div class="integration-cancel-status hidden" data-target="{{ submission.id }}">Status:{{ submission.status }};Step:{{ submission.step }}</div>
        <a id="integration-cancel-link-{{ submission.id }}" data-remove-submission-jdd-id="{{ jdd.id }}" href="{{ path('integration_cancel', {'submissionId': submission.id}) }}" title="{{ 'Cancel Submission'|trans }}"
            {% if remove and jdd.field('status') != 'published' %}
                class="btn btn-xs btn-danger" onClick="return confirm('{{'Are you sure?'|trans }}')"
            {% else %}
                class="btn btn-xs btn-default" data-toggle="modal" data-target="#modal-impossible-delete-submission"
            {% endif %}
            >
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
        </a>

        <!-- Modal - Delete file impossible -->
        <div class="modal fade" id="modal-impossible-delete-submission"
             tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        {{ 'Submission.delete.impossible'|trans }}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default"
                                data-dismiss="modal">{% trans %}Cancel{% endtrans %}</button>
                    </div>
                </div>
            </div>
        </div>
        {# Reports #}
        {% set integrationDisabled = false %}
        {% set sensitiveDisabled = false %}
        {% set permanentDisabled = false %}
        {% if submission.step is not constant('STEP_CANCELLED', submission) %}
            {% set integrationDisabled = true %}
            {% set sensitiveDisabled = true %}
            {% set permanentDisabled = true %}
        {% endif %}
        {% if submission.step is not constant('STEP_INIT', submission) and submission.status is not constant('STATUS_RUNNING', submission) %}
            {% set integrationDisabled = false %}
        {% endif %}
        {% if submission.status is constant('STATUS_OK', submission) %}
            {% if user.isAllowed('VIEW_SENSITIVE') %}
                {% set sensitiveDisabled = false %}
                {% set permanentDisabled = false %}
            {% endif %}
        {% endif %}
        <div class = "btn-group">
        <button type="button" class="btn btn-default dropdown-toggle btn-xs" data-toggle="dropdown">
            Rapports<span class="caret"></span>
        </button>
        <ul class="dropdown-menu dropup" role ="menu">
            <li>
                <a class="btn btn-xs" {{ integrationDisabled ? 'disabled' : ''}}
                   title="{{ integrationDisabled ? 'Report.Integration.DisabledTitle'|trans : 'Report.Integration.Title'|trans }}"
                   href="{{ path('download-report', {'submissionId': submission.id , 'report': 'integrationReport'}) }}">
                    {{ 'Report.Integration.Title'|trans }}
                </a>
            </li>
            <li>
                <a class="btn btn-xs" {{ sensitiveDisabled ? 'disabled' : ''}}
                   title="{{ sensitiveDisabled ? 'Report.Sensitivity.DisabledTitle'|trans : 'Report.Sensitivity.Title'|trans }}"
                   href="{{ path('download-report', {'submissionId': submission.id, 'report': 'sensibilityReport'}) }}">
                    {{ 'Report.Sensitivity.Title'|trans }}
                </a>
            </li>
            <li>
                <a  class="btn btn-xs" {{ permanentDisabled ? 'disabled' : ''}}
                    title="{{ permanentDisabled ? 'Report.PermanentIds.DisabledTitle'|trans : 'Report.PermanentIds.Title'|trans }}"
                    href="{{ path('download-report', {'submissionId': submission.id, 'report': 'permanentIdsReport'}) }}">
                    {{ 'Report.PermanentIds.Title'|trans }}
                </a>
            </li>
        </ul>
        </div>
    </div>
{% endif %}