{% extends 'IgnDlbBundle:Jdd:layout-pdf.html.twig' %}

{% block title %}
Certificat de dépôt pour le jeu de données de biodiversité : {{ jdd.field('title') }}
{% endblock %}

{% block body %}
    <h1 style="text-align: center;">Certificat de dépôt d'un jeu de données de biodiversité</h1>

    <div class="row">
        <div class="col-md-4">
            <p>Jeu de données :</p>
        </div>
        <div class="col-md-8">
            <p>{{ jdd.field('title') }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <p>Identifiant INPN :</p>
        </div>
        <div class="col-md-8">
            <p>{{ jdd.field('metadataId') }}</p>
        </div>
    </div>

    <h2>Procédure de dépôt</h2>

    <div class="row">
        <div class="col-md-4">
            <p>Procédure de télé­versement :</p>
        </div>
        <div class="col-md-8">
         <p><a href="https://www.demarches-simplifiees.fr/dossiers/{{ jdd.field('tpsId') }}">https://www.demarches-simplifiees.fr/dossiers/{{ jdd.field('tpsId') }}</strong></p>
           </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <p>Cadre d'acquisition INPN :</p>
        </div>
        <div class="col-md-8">
             <a href="{{ jddCAMetadataFileDownloadServiceURL }}{{ jdd.field('metadataCAId') }}"
                target="_blank" title="{{ 'Jdd.page.metadataLinkTitle'|trans }}">
                <span class="glyphicon glyphicon-file" aria-hidden="true"></span> {{ jdd.field('metadataCAId') }}
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <p>Titre du projet :</p>
        </div>
        <div class="col-md-8">
            <p>{{ jdd.field('caTitle') }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <p>Descriptif du projet :</p>
        </div>
        <div class="col-md-8">
            <p>{{ jdd.field('caDescription') }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <p>Commanditaire :</p>
        </div>
        <div class="col-md-8">
            <p>{{ jdd.field('projetOwner') }}</p>
        </div>
    </div>

    <h2>Détail du Jeu de données</h2>

    <div class="row">
        <div class="col-md-4">
            <p>Jeu de données INPN :</p>
        </div>
        <div class="col-md-8">
            <a href="{{ configurationManager.getConfig('jddMetadataFileDownloadServiceURL') }}{{ jdd.field('metadataId') }}"
                target="_blank" title="{{ 'Jdd.page.metadataLinkTitle'|trans }}">
                <span class="glyphicon glyphicon-file" aria-hidden="true"></span> {{ jdd.field('metadataId') }}
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <p>Modèle de données :</p>
        </div>
        <div class="col-md-8">
            <p>Standard d'Occurences de Taxons v1.2.1</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <p>Dépositaire :</p>
        </div>
        <div class="col-md-8">
            <p>{{ jdd.user.username }} / {{ jdd.user.provider.label }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <p>Date de dépôt :</p>
        </div>
        <div class="col-md-8">
            <p>{{ jdd.dees[0].createdAt | date('d/m/Y H\\hi') }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <p>Url publique jeu de données :</p>
        </div>
        <div class="col-md-8">
            {% set pubTpsUrl = domain ~path('published_jdds_by_tps', { 'tpsId': jdd.field('tpsId') }) %}
            <p><a href="{{ pubTpsUrl }}">{{ pubTpsUrl }}</a></p>
        </div>
    </div>
{% endblock %}