{% extends "::base.html.twig" %}

{% block body %}

{# User is the real user if connected, or the anonymous user 'visiteur' if not - he is never 'null' #}
{% set user = (app.user) ?: anonymous.user %}


{% if user is not null and user.isAllowed('CANCEL_DATASET_PUBLICATION') %}
    {% set isAllowedCancelDatasetPublication = true %}
{% else %}
    {% set isAllowedCancelDatasetPublication = false %}
{% endif %}

{# Size of columns array and filename max size #}
{% if (allJdds is defined and allJdds == true) or (providerJdds is defined and providerJdds == true) %}
    {% set colSizes = {
        jddActions: 12,
        tpsId: 31,
        jddTitleId: 56,
        creationDate: 25,
        providerUser: 56,
        submissionsActions: 34,
        filesLines: 55,
        submissionStatus: 13,
        deeDepositDate: 31,
        deeReports: 12} %}
    {% set filenameMaxLength = 18 %}
{% else %}
    {% set allJdds = false %}
    {% set providerJdds = false %}
    {% set colSizes = {
        jddActions: 8,
        tpsId: 22,
        jddTitleId: 45,
        creationDate: 18,
        providerUser: 56,
        submissionsActions: 22,
        filesLines: 60,
        submissionStatus: 16,
        deeDepositDate: 21,
        deeReports: 8} %}
    {% set filenameMaxLength = 32 %}
{% endif %}

{# Title of the page #}
{% if (allJdds is defined and allJdds == true) %}
	<h1>{{ 'Jdd.list.title.all'|trans }}</h1>
{% elseif (providerJdds is defined and providerJdds == true) %}
	<h1>{{ 'Jdd.list.title.provider'|trans }}</h1>
{% else %}
	<h1>{{ 'Jdd.list.title.user'|trans }}</h1>
{% endif %}

<!-- Show the currently active jdd -->
{% if jddList is not empty %}
    <p>
        <a href="{{ path("jdd_new") }}">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> {% trans %}Create data submission{% endtrans %}
        </a>
    </p>
	
	<div class="pull-right">
		<form action="{{ path(route, {page: jddQuery.page, limit: jddQuery.limit}) }}">
			<div class="input-group">
				<input type="text" class="form-control" name='search' placeholder="{{ 'Search' | trans }}...">
				<span class="input-group-btn">
					<button class="btn btn-default" type="submit">
						<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
					</button>
				</span>
			</div>
		</form>
	</div>

    <!-- Show the currently active location submissions -->
    <table  id="jddTable" data-toggle="table"
            data-classes="table table-hover table-bordered jdd-table" />

        {# Jdd group #}
        <colgroup>
            {# Actions column #}
            <col style="width: {{ colSizes.jddActions }}%;"/>
            {# TPS id column #}
            <col style="width: {{ colSizes.tpsId }}%;"/>
            {# Title/Id column #}
            <col style="width: {{ colSizes.jddTitleId }}%;"/>
            {# Creation date column #}
            <col style="width: {{ colSizes.creationDate }}%;"/>
            {% if (allJdds or providerJdds) %}
                {# Provider / User column #}
                <col style="width: {{ colSizes.providerUser }}%;"/>
            {% endif %}
         </colgroup>
        {# Submissions group #}
        <colgroup>
            {# Actions column #}
            <col style="width: {{ colSizes.submissionsActions }}%"/>
            {# Files(lines) column #}
            <col style="width: {{ colSizes.filesLines }}%;"/>
            {# Status column #}
            <col style="width: {{ colSizes.submissionStatus }}%;"/>
        </colgroup>
        {# DEE group #}
        <colgroup>
            {# Date column #}
            <col style="width: {{ colSizes.deeDepositDate }}%;"/>
            {# Actions column #}
            <col style="width: {{ colSizes.deeReports }}%;"/>
        </colgroup>


        <thead>
            <tr>
                <th colspan="{{ (allJdds or providerJdds) ? 5:4 }}" class="text-center color1">{{ 'Jdd.list.jdd'|trans }}</th>
                <th colspan="3" class="text-center color2">{{ 'Jdd.list.submissions'|trans }}</th>
                <th colspan="3" class="text-center color1">{{ 'DBB.table.title'|trans }}</th>
                <th data-visible="false" ></th>
                <th data-visible="false" ></th>
            </tr>
            <tr>
                <th data-searchable="false" class="color1"></th>
                <th data-field="tpsNumber" data-sortable="true" class="color1">{{ 'Jdd.list.tpsNumber'|trans }}</th>
                <th data-field="nameAndId" data-sortable="true" class="color1">{{ 'Jdd.list.nameAndId'|trans }}</th>
                <th data-field="createdOn" data-sortable="true" data-sort-name="created" class="color1">{{ 'Jdd.list.createdOn'|trans }}</th>
                {% if (allJdds or providerJdds) %}
                    <th data-field="providerAndUser" data-searchable="true" data-sortable="true" class="color1">{{ 'Jdd.list.providerAndUser'|trans }}</th>
                {% endif %}
                <th data-field="actions" data-searchable="false" class="color2" data-align="center">{{ 'Actions'|trans }}</th>
                <th data-field="filesAndLines" class="color2" style="width: 44%;">{{ 'IntegrationPage.FilesAndLines'|trans }}</th>
                <th data-field="status" data-searchable="false" class="text-center color2">{{ 'IntegrationPage.Status'|trans }}</th>
                <th data-field="deeCreationDate" data-searchable="false" data-sort-name="deedate" data-sortable="true" class="color1">{{ 'DBB.table.depositDate'|trans }}</th>
                <th data-searchable="false" class="color1"></th>

               {# Non visible columns used for sorting #}
                <th data-field="created" data-visible="false" data-searchable="false"></th>
                <th data-field="deedate" data-visible="false" data-searchable="false"></th>
            </tr>
        </thead>
        <tbody>
        {% for jdd in jddList %}
            <tr>
                {# Actions JDD #}
                <td>
                    {# Delete #}
                    {% if jdd.trueDeletable %}
                        <button class="btn btn-xs btn-danger" title="{{ 'Delete'|trans }}" data-toggle="modal" data-target="#modal-delete-jdd-{{ jdd.id }}">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        </button>

                        <!-- Modal - Delete jdd -->
                        <div class="modal fade" id="modal-delete-jdd-{{ jdd.id }}"
                             tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                             aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-body">
                                        {% trans with {'%jddId%': jdd.field('title')} %} Jdd.delete.prompt {% endtrans %}
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default"
                                                data-dismiss="modal">{% trans %}Cancel{% endtrans %}</button>
                                        <a type="button" class="btn btn-primary"
                                           href="{{ path('jdd_delete', {'id' : jdd.id}) }}">
                                            {% trans %}Continue{% endtrans %} </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <button class="btn btn-xs btn-default btn-disabled" title="{{ 'Delete'|trans }}" data-toggle="modal" data-target="#modal-impossible-delete-jdd-{{ jdd.id }}">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        </button>

                        <!-- Modal - Delete Jdd -->
                        <div class="modal fade" id="modal-impossible-delete-jdd-{{ jdd.id }}"
                             tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                             aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-body">
                                        {% trans with {'%jddId%': jdd.field('title')} %} Jdd.delete.impossible {% endtrans %}
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default"
                                                data-dismiss="modal">{% trans %}Cancel{% endtrans %}</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}

                    {# Cancel JDD Publication #}
                    {% if isAllowedCancelDatasetPublication and (jdd.field('status') is not empty) and (jdd.field('status') == 'published') %}
                        <a class="btn btn-xs btn-warning" title="{{ 'Dépublier (annuler le dépôt) le JDD'|trans }}" href="{{ path('unpublish_dlb', { 'id': jdd.id }) }}">
                            <span class="glyphicon glyphicon-stop" aria-hidden="true"></span>
                        </a>
                    {% endif %}
                </td>

                {# TPS number #}
                {% if (jdd.field('status') == 'published') %}
                	<td>
                    	<a title="{{ 'Jdd.list.view'|trans }}" href="{{ path('published_jdds_by_tps', { 'tpsId': jdd.field('tpsId') }) }}">{{ jdd.field('tpsId') }}</a>
                	</td>
				{% else %}
					<td>
                    	{{ jdd.field('tpsId') }}
                	</td>
                {% endif %}
                {# Title and metadata id of the jdd #}
                <td>
                    {{ jdd.field('title') }}
                    <br/>
                    <span class="text-muted longtext">{{ jdd.field('metadataId') }}</span>
                </td>

                {# Creation date of the jdd #}
                <td>
                    <p data-full-date={{ jdd.createdAt|date('c') }}>{{ jdd.createdAt|date('d/m/Y') }}<br/>{{ jdd.createdAt|date('H\\hi') }}</p>
                </td>

                {# Provider label and username of the jdd #}
                {% if (allJdds or providerJdds) %}
                    <td>
                       <p>{{ jdd.provider.label }}</p>
                       <p>{{ jdd.user.username }}</p>
                    </td>
                {% endif %}

                {# Submissions #}
                {# Actions (including reports) #}
                <td>
                    {% if jdd.activeSubmissions|length > 0 %}
                        {% for submission in jdd.activeSubmissions %}
                        <div class="submission-line submission-line-actions">
                            {% include "@IgnGinco/Integration/submission_actions.html.twig" %}
                        </div>
                        {% endfor %}
                    {% else %}
                    <p>-</p>
                    {% endif %}
                </td>
                {# File and lines #}
                <td>
                    {% for submission in jdd.activeSubmissions %}
                        <div class="submission-line submission-line-file">
                            {% for file in submission.files %}
                                {% set filename = file.fileName|trim|pathinfo_filename %}
                                <div class="submission-line-lines">({{file.nbLines}})</div>
                                <div title="{{ filename }}" class="submission-line-file-name longtext oneline">{{ filename }}</div>
                            {% endfor %}
                        </div>
                    {% endfor %}
                    {# Add a new submission to dataset #}
                    <div class="new-submission" data-jdd-id="{{ jdd.id }}">
                        <div class="submission-line">
                            <a href="{{ path("integration_creation", { 'jddid': jdd.id }) }}">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>  {{ 'Jdd.submission.add'|trans }}
                            </a>
                        </div>
                    </div>
                </td>
                {# Status -- see integration-progress-bars.js.twig #}
                <td>
                    {% for submission in jdd.activeSubmissions %}
                        <div class="submission-line submission-line-status" >
                            <div class="integration-status hidden" data-target="{{ submission.id }}">Status:{{ submission.status }};Step:{{ submission.step }}</div>
                            <div class="integration-progress hidden">
                                <div class="progress">
                                    <div class="progress-bar progress-bar-success" role="progressbar" title="{{ 'IntegrationPage.import.running'|trans }}" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                                        0%
                                    </div>
                                </div>
                            </div>
                            <div class="integration-content" data-target="{{ submission.id }}"
                                {% if submission.status in ['OK','CHECK'] %}
                                    ><span class="glyphicon glyphicon-ok color-success" title="&nbsp;{{ submission.status }}" aria-hidden="true"></span>
                                {% elseif submission.status in ['WARNING'] %}
                                    ><span class="glyphicon glyphicon-alert color-warning" title="&nbsp;{{ submission.status }}" aria-hidden="true"></span>
                                {% elseif submission.status in ['ERROR'] %}
                                    ><span class="glyphicon glyphicon-remove color-danger" title="&nbsp;{{ submission.status }}" aria-hidden="true"></span>
                                {% elseif submission.step in ['CANCEL'] and submission.status in ['RUNNING'] %}
                                    title="{% trans with {'%submissionId%': submission.id}%}IntegrationPage.cancel.running.tooltip{% endtrans %}">
                                    <span class="glyphicon glyphicon-alert color-warning" aria-hidden="true"></span>&nbsp;
                                {% else %}
                                    >
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </td>

                {# DBB Column - Empty / filled by Ajax #}
                {% set permToGenerateDEE = is_granted('GENERATE_DEE', jdd) %}
                <td>
                    <div class="dbb" data-jdd-id="{{ jdd.id }}" data-perm-generate="{{ permToGenerateDEE ? 1 : 0 }}">
                        <div class="dbb-state">
                            <div class="progress-label hidden"></div>
                            <div class="hidden">
                                <div class="progress">
                                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                                        0%
                                    </div>
                                </div>
                            </div>
                            <div class="dbb-content"></div>
                        </div>
                    </div>
                </td>
                {# Action to generate DEE; data-can-generate express the permission to generate and dowload DEE. See other reports is still possible #}
                <td>
                    <div class="dbb" data-jdd-id="{{ jdd.id }}" data-perm-generate="{{ permToGenerateDEE ? 1 : 0 }}">
                        <div class="dbb-actions text-center"></div>
                    </div>
                </td>

                {# Non visible fields used for sorting #}
                {# Creation date of the jdd #}
                <td>
                    {{ jdd.createdAt|date('Y-m-d H:i') }}
                </td>
                {# Creation date of the DEE #}
                <td>
                    {{ jdd.dee ? jdd.dee.createdAt|date('Y-m-d H:i') : '1970-01-01 00:00'}}
                </td>

            </tr>
        {% endfor %}
        </tbody>
    </table>
		
	<div class="pull-right">
		{% include '@IgnGinco/Jdd/pagination.html.twig' with {route: route, jddQuery: jddQuery, numJdds: numJdds} %}
	</div>

    {% if user.isAllowed('GENERATE_DEE_ALL') or user.isAllowed('GENERATE_DEE_PROVIDER') or user.isAllowed('GENERATE_DEE_OWN') %}
        <!-- DBB dialog popup -->
        <div class="modal fade" id="DBBModal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="{{ 'Close'|trans }}"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title"></h4>
                    </div>
                    <div class="modal-body">
                        <p id="modal-notice"></p>
                        <form>
                            <div class="form-group">
                                <div class="help-block"></div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'Cancel'|trans }}</button>
                        <button type="button" class="btn btn-primary" id="modal-submit"></button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Can't generate DBB modal -->
        <div class="modal fade" id="DBBCantGenerateModal" tabindex="-1" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        {{ 'DBB.impossibleModal.body'|trans }}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default"
                                data-dismiss="modal">{% trans %}Cancel{% endtrans %}</button>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

{% else %}
    <p>{% trans %}Jdd.none{% endtrans %}</p>
{% endif %}
<p><a href="{{ path("jdd_new") }}">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> {% trans %}Create data submission{% endtrans %}
</a></p>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        {% include '@IgnGinco/Integration/integration-progress-bars.js.twig' %}
        {% include '@IgnGinco/Integration/integration-cancel.js.twig' %}
        {% include '@IgnGinco/Jdd/dee-generation.js.twig' %}
        {% include '@IgnGinco/Jdd/dbb-generation.js.twig' %}
    </script>
{% endblock %}
