{% extends "IgnGincoBundle:Emails:base-email.html.twig" %}
{%- block subject %}
	Objet : Procédure demarches-simplifiees.fr n°{{ jdd.field('tpsId') }} - Dépôt du jeu de données {{ jdd.field('metadataId') }}
{% endblock -%}



{%- block email_body_text %}
	{% set tpsUrl = 'https://www.demarches-simplifiees.fr/dossiers/' ~ jdd.field('tpsId') %}

    {% autoescape %}
		Bonjour,
		
		Nous vous confirmons le succès du dépôt des données brutes de biodiversité suivantes :
		
		Jeu de données : {{ jdd.field('title') }}
		Identifiant INPN : {{ jdd.field('metadataId') }}
		Fichiers : {{ filename }}
		Organisme déposant : {{ jdd.provider.label }}
		Nom du déposant : {{ jdd.user.username }}
		
		Ce dépôt a eu lieu dans le cadre de la procédure suivante : 
		
		Procédure :  {{ jdd.field('caTitle') }}
		N° Dossier : {{ jdd.field('tpsId') }}
		Commanditaire de l'étude : {{ jdd.field('projetOwner') }}
		Lien : {{ tpsUrl }}
		
		Le jeu de données a été publié sur la plateforme de Dépôt Légal des Données Brutes de Biodiversité et transmis à la plateforme nationale du SINP qui va procéder à son intégration dans l’INPN.
		
		Vous devez maintenant reporter dans la procédure demarches-simplifiees.fr l'URL suivante (dans le champ "Certificat de dépôt des données brutes de biodiversité") : {{ pubTpsUrl }}
		
		Bien cordialement,
		
		_La plateforme Dépôt Légal de données brutes de biodiversité_

    {% endautoescape %}
{% endblock -%}

{%- block email_body_html %}
    {% autoescape false %}
		{% set tpsUrl = 'https://www.demarches-simplifiees.fr/dossiers/' ~ jdd.field('tpsId') %}

        <p>Bonjour,</p>

        <p>Nous vous confirmons le succès du dépôt des données brutes de biodiversité suivantes :</p>
        <p> Jeu de données : {{ jdd.field('title') }}<br>
		Identifiant INPN : {{ jdd.field('metadataId') }}<br>
		Fichiers : {{ filename }}<br>
		Organisme déposant : {{ jdd.provider.label }}<br>
		Nom du déposant : {{ jdd.user.username }} </p>

        <p>Ce dépôt a eu lieu dans le cadre de la procédure suivante : </p>
        
		<p>Procédure : {{ jdd.field('caTitle') }}<br>
		N° Dossier : {{ jdd.field('tpsId') }}<br>
		Commanditaire de l'étude : {{ jdd.field('projetOwner') }}<br>
		Lien : <a href="{{ tpsUrl }}">{{ tpsUrl }}</a>

        <p>Le jeu de données a été publié sur la plateforme de Dépôt Légal des Données Brutes de Biodiversité et transmis à la plateforme nationale du SINP qui va procéder à son intégration dans l’INPN.</p>
		
		<p>Vous devez maintenant reporter dans la procédure <a href="{{ tpsUrl }}">demarches-simplifiees.fr</a> l'URL suivante (dans le champ "Certificat de dépôt des données brutes de biodiversité") :
		<a href="{{ pubTpsUrl }}">{{ pubTpsUrl }}</a>
		</p>

        <p>Bien cordialement,</p>
        
        <p>_La plateforme Dépôt Légal de données brutes de biodiversité_</p>

    {% endautoescape %}
{% endblock -%}
