{% extends "IgnGincoBundle:Emails:base-email.html.twig" %}
{%- block subject %}
	Objet : Procédure demarches-simplifiees.fr [n°Dossier] - Dépôt du jeu de données {{ jdd.field('metadataId') }}
{% endblock -%}

{%- block email_body_text %}

    {% autoescape true %}
		Bonjour,
		
		Nous vous confirmons le succès du dépôt des données brutes de biodiversité suivantes :
		
		Jeu de données : {{ jdd.field('title') }}
		Identifiant INPN : {{ jdd.field('metadataId') }}
		Fichiers : {{ filename }}
		Organisme déposant : {{ jdd.provider.label }}
		Nom du déposant : {{ jdd.user.username }}
		
		Ce dépôt a eu lieu dans le cadre de la procédure suivante : 
		
		Procédure :  {{ jdd.field('caTitle') }}
		N° Dossier : {{ jdd.field('tpsId') }}
		Commanditaire de l'étude : {{ jdd.field('projetOwner') }}
		Lien : https://www.demarches-simplifiees.fr/dossiers/{{ jdd.field('tpsId') }}
		
		Le jeu de données a été publié sur la plateforme de Dépôt Légal des Données Brutes de Biodiversité et transmis à la plateforme nationale du SINP qui va procéder à son intégration dans l’INPN.
		
		Vous devez maintenant reporter dans la procédure demarches-simplifiees.fr l'URL suivante, à laquelle vous trouverez le certificat de dépôt : [URL A PRECISER]
		
		Bien cordialement,
		
		_La plateforme Dépôt Légal de données brutes de biodiversité_

    {% endautoescape %}
{% endblock -%}

{%- block email_body_html %}
    {% autoescape false %}
        <p>Bonjour,</p>

        <p>Nous vous confirmons le succès du dépôt des données brutes de biodiversité suivantes :</p>
        <p> Jeu de données : {{ jdd.field('title') }}<br>
		Identifiant INPN : {{ jdd.field('metadataId') }}<br>
		Fichiers : {{ filename }}<br>
		Organisme déposant : {{ jdd.provider.label }}<br>
		Nom du déposant : {{ jdd.user.username }} </p>

        <p>Ce dépôt a eu lieu dans le cadre de la procédure suivante : </p>
        
		<p>Procédure : {{ jdd.field('caTitle') }}<br>
		N° Dossier : {{ jdd.field('tpsId') }}<br>
		Commanditaire de l'étude : {{ jdd.field('projetOwner') }}<br>
		Lien : <a href="https://www.demarches-simplifiees.fr/dossiers/{{ jdd.field('tpsId') }}">https://www.demarches-simplifiees.fr/dossiers/{{ jdd.field('tpsId') }}</a>

        <p>Le jeu de données a été publié sur la plateforme de Dépôt Légal des Données Brutes de Biodiversité et transmis à la plateforme nationale du SINP qui va procéder à son intégration dans l’INPN.</p>
		
		<p>Vous devez maintenant reporter dans la procédure demarches-simplifiees.fr (lien) l'URL suivante, à laquelle vous trouverez le certificat de dépôt : [URL A PRECISER] </p>
		</p>
        <p>Bien cordialement,</p>
        
        <p>_La plateforme Dépôt Légal de données brutes de biodiversité_</p>

    {% endautoescape %}
{% endblock -%}
